<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Air Battle Online{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    {% block javascripts %}{% endblock %}
</head>

<body>
	    {% block body %}{% endblock %}
</body>
</html>
