{% extends '::base.html.twig' %}

{% block stylesheets %}
{% stylesheets 'bundles/abo/css/reset.css'
               'bundles/abo/css/general.css'
               'bundles/abo/css/fonts.css'           
               'bundles/abo/css/frontend.css'
               output='css/frontend.css' filter="cssrewrite" filter="yui_css"%}
<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{% javascripts '@ABOBundle/Resources/public/js/lt_ie9/*' output='js/lt_ie9.js' %}
<!--[if lt IE 9]>
    <script src="{{ asset_url }}"></script>
<![endif]-->
{% endjavascripts %}
{% javascripts '@ABOBundle/Resources/public/js/jquery-2.1.0.min.js'
               '@ABOBundle/Resources/public/js/utils.js' 
               '@ABOBundle/Resources/public/js/frontend.js'
               output='js/frontend.js' filter="yui_js"%}
	<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}

{% block body %}
<!-- HEADER -->
<!-- ====== -->
<header>
	<h1>
		<a title="Air Battle online" href="#">Air Battle online</a>
	</h1>
	{% if (is_granted('ROLE_PLAYER') or is_granted('ROLE_ADMIN')) %}
		<a id="loginbtn" title="Play" href="{{ path('abo_game') }}">Play!</a>
	{% else %}
		<a id="loginbtn" title="Login" href="javascript:void(0);">Login</a>
	{% endif %}
	<div id="login" class="hide">
		<form id="loginForm" action="{{ path('abo_login_check') }}" method="post">
			<div class="input-wrap" style="margin: -15px 0">
				<label for="usernameLogin">Username:</label>
				<div class="black-border">
					<input name="_username" type="text">
				</div>
			</div>
			<div class="input-wrap" style="margin: 25px 0;">
				<label for="passwordLogin">Password:</label>
				<div class="black-border">
					<input name="_password" type="password">
				</div>
			</div>
			<a style="margin: -10px 0;" id="pwLost" title="Forgot your password?" target="_blank" href="">
				Forgot your password? 
			</a> 
			<input style="margin: 40px 0px;" id="loginSubmit" value="Log in" type="submit" name="login">
		</form>
	</div>
</header>

<!-- CONTENT -->
<!-- ====== -->
<div id="content" class="clearfix">
		<!-- subscribe -->
		<div id="subscribe">
			<form id="subscribeForm" action="" method="post" onsubmit="">
				<h2>PLAY FOR FREE!</h2>
				<div class="input-wrap">
					<label for="username">Username:</label>
					<div class="black-border">
						<input name="username" type="text">
					</div>
				</div>
				<div class="input-wrap">
					<label for="username">Password:</label>
					<div class="black-border">
						<input name="username" type="text">
					</div>
				</div>
				<div class="input-wrap">
					<label for="username">Repeat Password:</label>
					<div class="black-border">
						<input name="username" type="text">
					</div>
				</div>
				<div class="input-wrap">
					<label for="username">Email address:</label>
					<div class="black-border">
						<input name="username" type="text">
					</div>
				</div>
				<!-- password safety -->
				<div class="input-wrap">
					<div id="securePwd">
						<p>Password safety:</p>
						<div class="valid-icon invalid"></div>
						<div class="securePwdBarBox">
							<div id="securePwdBar"></div>
						</div> 
						<br class="clearfloat">
					</div>
				</div>
				<!-- submit -->
				<div id="submitWrap">
					<div>
						<input style="float: left;margin: 10px 10px;" type="checkbox" required="required">
						<label style="font-family: arial;margin: 20px 0px;">You need accept terms and conditions</label>
						<input id="regSubmit" value="Register" type="submit">
					</div>
					<p>
				</div>
			</form>
		</div>
		<!-- content -->
		<div id="contentWrap">
			{% block content %}{% endblock %}
		</div>
	</div>
<!-- FOTTER -->
<!-- ====== -->
<div id="push"></div>
<footer>
	<div id="footerContent">
	
	</div>
</footer>
{% endblock %}