{% extends '::base.html.twig' %}

{% block stylesheets %}
{% stylesheets 'bundles/abo/css/reset.css'
               'bundles/abo/css/general.css'
               'bundles/abo/css/fonts.css'
               'bundles/abo/css/alertify.core.css'
               'bundles/abo/css/alertify.default.css'        
               'bundles/abo/css/airbattleonline.css'
               output='css/game.css' filter="cssrewrite" filter="yui_css"%}
<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{% javascripts '@ABOBundle/Resources/public/js/lt_ie9/*' output='js/lt_ie9.js' %}
<!--[if lt IE 9]>
    <script src="{{ asset_url }}"></script>
<![endif]-->
{% endjavascripts %}
{% javascripts '@ABOBundle/Resources/public/js/jquery-2.1.0.min.js'
               '@ABOBundle/Resources/public/js/utils.js'
               '@ABOBundle/Resources/public/js/three.min.js'
               '@ABOBundle/Resources/public/js/ObjectLoader.js'
               '@ABOBundle/Resources/public/js/OBJMTLLoader.js'
               '@ABOBundle/Resources/public/js/lib/*'
               '@ABOBundle/Resources/public/js/src/*'
               output='js/game.js' filter="yui_js"%}
	<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
<script src="http://192.168.1.120:8080/socket.io/socket.io.js"></script>
{% endblock %}