body {
	background-color: #000 !important;
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -110px;
	background: url('../images/abo-background.jpg') no-repeat scroll 50% 0 transparent;
}
input[type="text"], input[type="password"], input.text, input.title, textarea, select {
    border: 2px solid #8399AF;
    background: url('../images/ab-input.gif') repeat-x scroll 0 0 #8D9AA7;
	border: 2px solid #9EB4CB;
	color: #0D334C;
	height: 16px;
	padding: 0 5px;
	width: 184px;
}
/*=========================*/
/* HEADER */
/*=========================*/
header {
	height: 110px;
	margin: 0 auto;
	position: relative;
	width: 715px;
}
header h1 {
	height: 80px;
	float: left;
	margin: 30px 0 0;
	width: 260px;
}

header h1 a {
	display: block;
	height: 80px;
	text-indent: -9999px;
}

#loginbtn {
	background: url('../images/abo-btns.png') no-repeat scroll 0 0 transparent;
	color: #FFF;
	display: block;
	float: right;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin: 32px 32px 0 0;
	width: 102px;
	text-align: center;
	text-shadow: -1px -1px 0 #501313;
	text-decoration: none;	
}
#loginbtn:HOVER {
	background-position:-102px 0;
}

#login {
	background: url('../images/abo-login-form.gif') no-repeat scroll 0% 0% transparent;
	height: 267px;
	position: absolute;
	right: 20px;
	top: 64px;
	width: 223px;
	z-index: 20;
}

#loginForm {
    height: 195px;
	margin: 5px auto 0;
	width: 190px;
	overflow: visible;
	z-index: 100000;
	padding: 28px 4.5px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	background: none repeat scroll 0px 0px #22303F;
}

#loginForm label {
    background: url('../images/abo-arrow-left.gif') no-repeat scroll 0 3px transparent;
    color: #619FC8;
    display: block;
    font-weight: normal;
    height: 15px;
    line-height: 15px;
    margin: 10px 0px;
    padding: 0 0 0 11px;
}

#loginForm .black-border {
    width: 188px;
}

.black-border {
    border: 1px solid #000;
    margin: 0 auto;
    width: 198px;
    position: relative;
}
#loginForm .black-border input {width: 174px;}
#pwLost {
	background: url('../images/abo-arrow-left.gif') no-repeat scroll 0 3px transparent;
    color: #619FC8;
    display: block;
    font-weight: normal;
    height: 15px;
    line-height: 15px;
    margin: 10px 0;
    padding: 0 0 0 11px;
	text-decoration: none;
	font-size: 0.8em;
}
#pwLost:HOVER {
	color:#4579a4;
}
#loginForm #loginSubmit {
    background: url('../images/abo-login-form-submit.gif') no-repeat scroll 0 0 transparent;
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 10px auto;
    padding: 0;
    text-align: center;
    text-shadow: -1px -1px 0 #501313;
    width: 187px;
    font-family: officierx !important;
}
#loginForm #loginSubmit:HOVER {
	background-position: 0 -30px;
}

/*=========================*/
/* LOGIN */
/*=========================*/
#login-dialog .login-dialog-wrap {
    text-align: left;
    width: 350px;
    background: none repeat scroll 0px 0px #22303F;
    box-shadow: 0 1px 0 5px #000;
    border-radius: 10px;
}
#login-dialog .login-dialog-wrap a {color: #FFF;}
#logo {float: left;margin-top: -20px;}
#title_web {
    float: left;
    margin-top: -8px;
    left: 75px;
    position: absolute;
}

.login-dialog-content form {padding: 0 5% 30px;width: 90%;}

.login-dialog-content form h1 {
    padding: 20px 0px;
    color: #619FC8;
    text-align: center;
    font-size: 1.2em;
}

.login-dialog-content .login-dialog-item {
    padding: 0px 0px 15px;
    font-size: 12px;
}

.login-dialog-content .login-dialog-item label {
    padding: 0px 0px 5px;
    display: inline-block;
   	color: #619FC8;
    width: 30%;
}

.login-dialog-submit-button {
    background: url('../images/abo-login-form-submit.gif') no-repeat scroll 0 0 transparent;
	color: #FFF;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	margin: 10px auto;
	padding: 0;
	text-align: center;
	text-shadow: -1px -1px 0px #501313;
	width: 187px;
	font-family: officierx !important;
}

input.login-dialog-submit-button:hover{
	background-position:0 -30px;
}

.login-background2 {
	background: url('../images/abo-background2.jpg') no-repeat scroll 50% 0 #000 !important;
}
/*=========================*/
/* FOOTER */
/*=========================*/
footer {
	background: url('../images/abo-footer.jpg') no-repeat scroll 50% 0 #000;
	color: #425463;
	font-size: 11px;
	height: 135px;
}

#footerContent {
    padding-top: 10px;
    width: 100%;
    position: relative;
    text-align: center;
}

/*=========================*/
/* CONTENT */
/*=========================*/
#push {
    height: 182px;
}
/* SUBSCRIBE */
#content {
    width: 718px;
    margin: 0 auto;
}

#subscribe {
    display: inline;
    float: left;
    margin: 48px 1px 8px 8px;
    width: 220px;
    position: relative;
}

#subscribeForm {
    background: none repeat scroll 0px 0px #22303F;
    border: 1px solid #2D343C;
    width: 220px;
    border-radius: 5px;
}

#subscribeForm h2 {
    font-size: 14px;
    padding: 10px 0 10px 10px;
    text-transform: uppercase;
    text-shadow: 1px 2px #000;
    border-bottom: 1px dotted #000;
   	color: #619FC8;
}
.input-wrap {
    height: 50px;
}

#subscribeForm > div.input-wrap {
	height: 40px;
}
#subscribeForm label {
	font-size: 0.8em;
  	color: #619FC8;
	display: block;
	font-weight: normal;
	height: 15px;
	line-height: 15px;
	margin: 10px 0px;
	padding: 0px 0px 0px 11px;
}

#securePwd {
    margin-left: 12px;
    overflow: hidden;
    width: 200px;
}
#securePwd p {
    margin: 12px 0;
	color: #619FC8;
	font-size: 0.8em;
	width: 190px;
}

.valid-icon {
    background: url('../images/abo-security.gif') no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 16px;
    margin: 0 4px 0 0;
    width: 16px;
}

.invalid {background-position: 0px -16px;}

#securePwd .securePwdBarBox, #securePwd #securePwdBar {
    background: url('../images/abo-security-bars.gif') no-repeat scroll 0px -13px transparent;
    height: 13px;
    font-size: 1px;
}

#securePwd .securePwdBarBox {
    float: left;
    margin: 5px 0 0;
    width: 180px;
}

.clearfloat {
    clear: both;
    height: 0;
    font-size: 0;
}

#subscribeForm #submitWrap {
    position: relative;
}

#regSubmit {
    background: url('../images/abo-btns.png') no-repeat scroll 0 -30px transparent;
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 54px;
    line-height: 54px;
    margin: 25px auto 10px;
    padding: 0 30px 0 15px;
    text-align: center;
    text-shadow: -1px -1px #000;
    width: 205px;
    font-family: officierx !important;
}

#regSubmit:HOVER {
	background-position: 0px -84px;
}

/* CONTENT */
#contentWrap {
    float: left;
    width: 487px;
}