html,body {
	height: 100%;
	width: 100%;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,table,caption,tbody,tfoot,thead,tr,th,td,figure
	{
	border: 0;
	margin: 0;
	padding: 0
}

img,fieldset,abbr,acronym {
	border: 0;
}

article,aside,figure,figcaption,hgroup,footer,header,nav,section,video,object
	{
	display: block;
}

audio,canvas,video {
	display: inline-block;
	display: inline;
	zoom: 1;
}

ul li {
	list-style: none;
	font-size: 13px;
}

ol li {
	list-style: decimal inside;
	font-size: 13px;
}

img {
	border: none;
	display: block;
}

a {
	color: #666;
	outline: none;
}

nav a {
	text-decoration: none;
}

textarea:focus, input:focus{
    outline: 0;
}

input[type="radio"],[type="submit"] {
	cursor: pointer;
}

/* HELPERS */
.wrap {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}

.full-width {
	width: 100%;
}

.to-upper {
	z-index: 9999;	
}

.hide {
	display: none;
}

.left {
	float: left;
}

.right {
	float : right;
}

.no-appearance {
	-webkit-appearance: none !important;
/* 	-moz-appearance: none !important; */
	appearance: none !important;
	text-indent: 0.01px;
    text-overflow: '';
}

.flipX {
	-moz-transform: scaleX(-1); /* For Mozilla Firefox */
	-o-transform: scaleX(-1);   /* For Opera */
	-webkit-transform: scaleX(-1); /* For Safari, Google chrome */
	/* For IE */
	filter: FlipH;
	-ms-filter: "FlipH";
}

.flipY {
	-moz-transform: scaleY(-1); /* For Mozilla Firefox */
	-o-transform: scaleY(-1);   /* For Opera */
	-webkit-transform: scaleY(-1); /* For Safari, Google chrome */
	/* For IE */
	filter: FlipV;
	-ms-filter: "FlipV";
}

.clear {
	clear: both;
	display: block;
}

.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.oldie .clearfix {
	zoom: 1;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #187e80;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #187e80;
}

.separator20 {
	margin-top: 20px;
	margin-bottom: 20px;
}