{% extends '::game.html.twig' %}

{% block body %}
<script id="vertexShader" type="x-shader/x-vertex">
uniform vec3 viewVector;
uniform float c;
uniform float p;
varying float intensity;
void main() {
    vec3 vNormal = normalize( normalMatrix * normal );
	vec3 vNormel = normalize( normalMatrix * viewVector );
	intensity = pow( c - dot(vNormal, vNormel), p );
    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
}
</script>
	<script id="fragmentShader" type="x-shader/x-vertex"> 
uniform vec3 glowColor;
varying float intensity;
void main() {
	vec3 glow = glowColor * intensity;
    gl_FragColor = vec4( glow, 1.0 );
}
</script>
<script type="text/javascript">
	var MODE_DEBUG = true;
	var gsc = null;
	var username = '{{ username.getUsername() }}';
	
	/**
	 * Load game.
	 */
	jQuery(function() {
	    gsc = new GameScreenController();
	    gsc.create2DRenderer(MODE_DEBUG, true);
	    gsc.render();
	    
	    // call resize
	    jQuery(window).resize();
	});
	
	/**
	 * Resize.
	 */
	jQuery(window).resize(function() {
	    if (gsc != null)
		gsc.resize(innerWidth, innerHeight);
	});
</script>
{% endblock %}