{% extends '::frontend.html.twig' %}

{% block body %}
<!-- login -->
<div id="login-dialog">
	<div class="login-dialog-wrap">
		<a title="Air Battle Online" href="{{ path('abo_homepage') }}">
			<img style="position: absolute; margin-top: -100px; width: 20%" 
			id="logo" alt="Air Battle Online" src="{{asset('bundles/abo/images/abo-logo.png')}}" /> 
			<img style="width: 80%; margin-top: -88px;" 
			id="title_web" alt="Air Battle Online" src="{{asset('bundles/abo/images/abo-title.png')}}" />
		</a>
		<div class="login-dialog-content">
			<form action="{{ path('abo_login_check') }}" method="post">
				<h1>Login Game</h1>
				{% if error %}
					<p style="font-size: 0.7em;text-align:center; color: red; font-weight: bold;margin-bottom: 20px;">{{ error.message }}</p>
				{% endif %}
				<div class="login-dialog-item">
					<label>Username</label>
					<input type="text" name="_username" value="{{ last_username | default('') }}" />
				</div>
				<div class="login-dialog-item">
					<label>Password</label>
					<input type="password" name="_password" />
				</div>
				<input class="login-dialog-submit-button" type="submit" value="Log in" />
			</form>
		</div>
	</div>
</div>
<script>
	jQuery("body").addClass("login-background2");
</script>
{% endblock %}