body {
	margin: 0px;
	overflow: hidden;
}
canvas {
	position: absolute;
	left: 0px;
	top: 0px;
}
#main-content {
	position: absolute;
}

/*=======================*/
/* MAIN MENU */
/*=======================*/
/* FOLLOW */
.main-nav {
	white-space: nowrap;
	letter-spacing: -1px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
	
}

.main-nav ul li {
	float: left;
}

.main-menu-box {
	color: white;
}

.follow {
	width: 130px;
	text-align: center;
	margin-top: -8px;
	border: 2px solid white;
	box-shadow: 0 0 5px #ddd;
	border-radius: 10px;
	font-size: 1.2em;
	padding: 10px;
	/* For Safari 5.1 to 6.0 */
	background: -webkit-linear-gradient(top, #101340, #0b0a1f);
	/* For Opera 11.1 to 12.0 */
	background: -o-linear-gradient(bottom, #101340, #0b0a1f);
	/* For Firefox 3.6 to 15 */
	background: -moz-linear-gradient(bottom, #101340, #0b0a1f);
	/* Standard syntax */
	background: linear-gradient(to bottom, #101340, #0b0a1f);
	cursor: pointer;
}

.follow-us li:first-child {
    float: inherit;
    width: 100%;
    background: none repeat scroll 0% 0% transparent;
    margin-left: 0px;
    margin-bottom: -20px;
    padding-top: 10px;
}
.follow-us li:FIRST-CHILD:HOVER {background: transparent;}

.social li {
	width: 40px;
	height: 40px;
	overflow: hidden;
/* 	margin: 3px 1.4% 0px 5%; */
	background: url('../images/icons.png') no-repeat scroll 0px -305px transparent;
	padding: 0px;
}
.social li:HOVER {background: url(../images/icons.png) 0 -345px no-repeat;}
.social li a:not(.main-menu-box) {
    float: left;
    width: 100%;
    height: 100%;
    margin-top: 14px;
    text-indent: -99999px;
    background: url('../images/icons.png') no-repeat scroll 0px 0px transparent;
}
.social .facebook {margin-left: 10px;}
.social .facebook a {background-position: 0px 0px !important;}
.social .twitter a {background-position: 0px -200px !important;}
.social .google a {background-position: 0px -160px !important;}

/* LOG OUT */
.main-menu-logout {
	position: absolute;
	right: 10%;
}
.main-menu-box-logout {
	float:left;
	margin-top: 30px;
	border: 2px solid white;
	box-shadow: 0 0 5px #ddd;
	border-radius: 10px;
	font-size: 1.2em;
	padding: 10px 20px;
	
	/* For Safari 5.1 to 6.0 */
	background: -webkit-linear-gradient(top, #101340, #0b0a1f);
	/* For Opera 11.1 to 12.0 */
	background: -o-linear-gradient(bottom, #101340, #0b0a1f);
	/* For Firefox 3.6 to 15 */
	background: -moz-linear-gradient(bottom, #101340, #0b0a1f);
	/* Standard syntax */
	background: linear-gradient(to bottom, #101340, #0b0a1f);
}

.logout {
	margin-left: -20px;
	position: absolute;	
	float: right;
	cursor: pointer;
}

/* HOME HUD */
#home-hud {left: 0;right: 0;position: absolute;width: 400px;}
/* title */
#home-title1 {float: left;margin-top: 80px;}
#home-title2 {float: left;margin: 180px -200px;}
/* options 1 */
#home-options-menu1 {position: absolute;margin: 270px -130px;}
#home-options-menu1-open-close {position: absolute;margin: -160px 65px; }
#home-options-menu1-open-close img {position: absolute;margin-left: -10px;}
#home-options-menu1-open-close-menu2 { position: absolute; margin: -136px 115px;}
/* options 2 */
#home-options-menu2 {position: absolute;margin: 280px 70px;}
/* Play */
#home-play {
	float: left;
	margin: 205px -405px;
	cursor: pointer;
	position: absolute;
}

/* SELECT GAME */
#home-select-game {
	position: absolute;
	padding: 10px;
	width: 400px;
	background: linear-gradient(to bottom, rgba(16, 19, 64, 0.8), rgba(11, 10, 31, 0.8)) repeat scroll 0% 0% transparent;
	border: 5px solid rgba(255, 255, 255, 0.7);
	border-radius: 20px;
	box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.3);
	z-index: 99999;
}
#home-select-game h1 {color: white; text-align: center; font-size: 1.2em}
#home-select-game a {float: left;}
.home-close-select-game {
	background: linear-gradient(to bottom, #101340, #0B0A1F) repeat scroll 0% 0% transparent;
	text-decoration: none;
	color: white;
	border-radius: 20px;
	padding: 8px;
	position: absolute;
	right: 0px;
	margin: -25px -18px;
}

.overlay {
	position: fixed;
	z-index: 99999;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: -1000px;
	background-color: #FFF;
	opacity: 0.2;
	width: 5000px;
	height: 5000px;
}


/*=======================*/
/* GAME HUD*/
/*=======================*/
.game-hud-avatar {
	position: absolute;
	margin: 10px;
	z-index: 10;
}
.game-hud-life-shield {position: absolute;margin: 34px;}
.game-hud-overheating {position: absolute;margin: 11px;}
.game-hud-overheating p {
	position: absolute;
	margin: 2px 165px; 
	color: rgb(73, 188,235);
	text-shadow: 1px 1px #000;
}
.game-hud-username {position: absolute;margin: 80px 190px;}
.game-hud-username p {color: rgb(73, 188,235);text-shadow: 1px 1px #000;}
.game-hud-score {position: absolute; margin: 105px 190px;}
.game-hud-score p {color: rgb(73, 188,235);text-shadow: 1px 1px #000;}